sprites/process/*
!sprites/process/.gitkeep
sprites/spritesheet.png
sprites/oneshot.png
sprites/archive/*
!sprites/archive/.gitkeep
sprites/main_test.go
sprites/configuration.cfg
sprites/pseudo3d-sprites*
